<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="stylesheet" href="/style.css"/>
	    <title>SSR Realization</title>
	</head>
	<body>
		<div>
			<div class="text">
				<h1>Server-Side Rendering without browser's JS</h>
			</div>
		<div>
			<div class="text">
				<p>Выберите/введите значение в любое/любые поле/поля и отправьте форму. <a href="/">Вернуться обратно.</a></p>
			</div>
		</div>
		<div>
			<div>
				<form action="/no-js-app">
					<div class="formInputLine">

						<%- 
							
							include('../partials/formInput', {
								titleText: 'Город'
								,listName: 'cities'
								,formInputName: 'city' 
								,dataListOptions: cities
								,dataExamples: cityExamples
							})

						%>

						<%- 
							
							include('../partials/formInput', {
								titleText: 'Цех'
								,listName: 'plantShops'
								,formInputName: 'plantShop' 
								,dataListOptions: plantShops
								,dataExamples: plantShopExamples
							})

						%>

						<%- 
							
							include('../partials/formInput', {
								titleText: 'Сотрудник'
								,listName: 'emploees'
								,formInputName: 'emploee' 
								,dataListOptions: emploees
								,dataExamples: emploeeExamples
							})

						%>
					</div>
					<div>
						<div class="formInputEl">
							<div class="formInputLine">
								<div>
									<p>График рабочего дня</p>
								</div>
								<div class="marginLeftRight">
									<select name="workSchelude">	
										<option value="">Пусто</option>

									<%	workSchelude.forEach( function(e) { %>

										<option value="<%= e.from %>-<%= e.until %>">С <%= e.from %> До <%= e.until %></option>
								
									<% }); %>

									</select>
								</div>
							</div>
						</div>
					</div>
 					<div>
						<input type="submit" value="Отправить">
					</div>
				</form>
			</div>

			<div class="outputDiv">	
				<h1>Output</h1>

				<% if(typeof noMatches !== 'undefined') {%>

					<%- include('../partials/noMatches')	%>

				<% } else { %>

					<%- include('../partials/matches') %>

				<% } %>

			</div>
		</div>
		
		<div style="height:50px"></div>
		<div class="rofl">
			<div class='workReq'>
			  <div class='workReqList'>		   
			    <div class='workReqListItem'>ВОЗЬМИТЕ МЕНЯ НА РАБОТУ</div>
					<div class='workReqListItem'>GIVE ME THAT JOB</div>
					<div class='workReqListItem'>LLÉVAME A ESE TRABAJO</div>
					<div class='workReqListItem'>PORTAMI A QUEL LAVORO</div>
					<div class='workReqListItem'>МЕНІ ОСЫ ЖҰМЫСҚА АПАРЫҢЫЗ</div>
					<div class='workReqListItem'>BRING MICH ZU DIESER ARBEIT</div>
					<div class='workReqListItem'>EMMÈNE-MOI À CE TRAVAIL</div>
					<div class='workReqListItem'>带我去那份工作</div>
					<div class='workReqListItem'>წამიყვანე იმ საქმეში</div>
					<div class='workReqListItem'>ZABIERZ MNIE DO TEJ PRACY</div>
					<div class='workReqListItem'>ВІЗЬМИ МЕНЕ НА ЦЮ РОБОТУ</div>
					<div class='workReqListItem'>그 일에 나를 데려가</div>
			  </div>
				  <div class='workReqList'>   
			    <div class='workReqListItem'>ВОЗЬМИТЕ МЕНЯ НА РАБОТУ</div>
					<div class='workReqListItem'>GIVE ME THAT JOB</div>
					<div class='workReqListItem'>LLÉVAME A ESE TRABAJO</div>
					<div class='workReqListItem'>PORTAMI A QUEL LAVORO</div>
					<div class='workReqListItem'>МЕНІ ОСЫ ЖҰМЫСҚА АПАРЫҢЫЗ</div>
					<div class='workReqListItem'>BRING MICH ZU DIESER ARBEIT</div>
					<div class='workReqListItem'>EMMÈNE-MOI À CE TRAVAIL</div>
					<div class='workReqListItem'>带我去那份工作</div>
					<div class='workReqListItem'>წამიყვანე იმ საქმეში</div>
					<div class='workReqListItem'>ZABIERZ MNIE DO TEJ PRACY</div>
					<div class='workReqListItem'>ВІЗЬМИ МЕНЕ НА ЦЮ РОБОТУ</div>
					<div class='workReqListItem'>그 일에 나를 데려가</div>
			  </div>
			</div>
		</div>

		<div style="height:50px"></div>
	</body>
</html>

