<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="stylesheet" href="/style.css"/>
	    <title>SSR Realization</title>
	</head>
	<body>
		<div>
			<div class="text">
				<h1>Server-Side Rendering without browser's JS</h>
			</div>
		<div>
			<div class="text">
				<p>Выберите/введите значение в любое/любые поле/поля и отправьте форму. <a href="/">Вернуться обратно.</a></p>
			</div>
		</div>
		<div>
			<div>
				<form action="/no-js-app">
					<div class="formInputLine">

						<%- 
							
							include('../partials/formInput', {
								titleText: 'Город'
								,listName: 'cities'
								,formInputName: 'city' 
								,dataListOptions: cities
								,dataExamples: cityExamples
							})

						%>

						<%- 
							
							include('../partials/formInput', {
								titleText: 'Цех'
								,listName: 'plantShops'
								,formInputName: 'plantShop' 
								,dataListOptions: plantShops
								,dataExamples: plantShopExamples
							})

						%>

						<%- 
							
							include('../partials/formInput', {
								titleText: 'Сотрудник'
								,listName: 'emploees'
								,formInputName: 'emploee' 
								,dataListOptions: emploees
								,dataExamples: emploeeExamples
							})

						%>
					</div>
 					<div>
						<input type="submit" value="Отправить">
					</div>
				</form>
			</div>

			<div class="outputDiv">	
				<h1>Output</h1>

				<% if(typeof noMatches !== 'undefined') {%>

					<%- include('../partials/noMatches')	%>

				<% } else { %>

					<%- include('../partials/matches') %>

				<% } %>

			</div>
		</div>	
		<div style="height:50px"></div>
	</body>
</html>

